<div class="item">
  <input
    [id]="tarefa._id || tarefa.descricao"
    type="checkbox"
    [checked]="tarefa.statusRealizada"
    (change)="alternarStatus()"
  />
  <label [for]="tarefa._id || tarefa.descricao">{{ tarefa.descricao }}</label>

  <div *ngIf="!emEdicao" class="btn-wrapper">
    <button class="btn" (click)="emEdicao = true">Editar</button>
    <button class="btn-warn" (click)="onRemoverTarefa()">Remover</button>
  </div>

  <div *ngIf="emEdicao">
    <input
      class="sm-text-input"
      #editedItem
      placeholder="Escreva o novo nome da tarefa aqui"
      [value]="tarefa.descricao"
    />
    <div class="btn-wrapper">
      <button class="btn" (click)="emEdicao = false">Cancelar</button>
      <button
        class="btn-save"
        (click)="tarefa.descricao = editedItem.value; emEdicao = false; modificaTarefa.emit(tarefa)"
      >
        Salvar
      </button>
    </div>
  </div>
</div>
