<div class="main">
  <div class="autores">
    <h1>Guilherme Lins dos Santos - 236161</h1>
    <h1>Guilherme Henrique Feitoza Correia - 237057</h1>
  </div>

  <form
    (submit)="campoNovoItem.value.trim() && CREATE_tarefa(campoNovoItem.value); campoNovoItem.value = ''; $event.preventDefault()"
  >
    <label for="nova-tarefa">Nova Tarefa:</label>
    <input id="nova-tarefa" class="lg-text-input" #campoNovoItem />
    <button type="submit" class="btn-primary">Adicionar Tarefa</button>
  </form>

  <ul>
    <li *ngFor="let tarefaDoLoop of arrayDeTarefas">
      <app-item
        [tarefa]="tarefaDoLoop"
        (removerTarefa)="DELETE_tarefa($event)"
        (modificaTarefa)="UPDATE_tarefa(tarefaDoLoop)"
      ></app-item>
    </li>
  </ul>
</div>
